name: Build & Analyze

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  build-production:
    name: Build Production APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
                    
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper

      - name: Install dependencies
        run: flutter pub get

      - name: Build Minified APK
        run: |
          flutter build apk \
            --release \
            --split-per-abi \
            --target-platform android-arm64 \
            --obfuscate \
            --split-debug-info=./debug-info

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: production-apk
          path: build/app/outputs/flutter-apk/*arm64-v8a-release.apk

      - name: Upload Debug Info
        uses: actions/upload-artifact@v4
        with:
          name: debug-info
          path: debug-info/

  analyze-size:
    name: Analyze App Size
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
          
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper

      - name: Install dependencies
        run: flutter pub get

      - name: Build & Analyze
        run: |
          flutter build apk \
            --release \
            --split-per-abi \
            --target-platform android-arm64 \
            --analyze-size

      - name: Upload Size Analysis Report
        uses: actions/upload-artifact@v4
        with:
          name: size-analysis-report
          path: build/apk-code-size-analysis*.json


  release:
    name: Create Release
    needs: [build-production, analyze-size]
    runs-on: ubuntu-latest    
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v7

      - name: Display Downloaded Files
        run: ls -R

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: ARMv8 APK Release
          tag_name: apk-${{ github.run_number }}
          files: |
            production-apk/*
            debug-info/*
            size-analysis-report/*
          make_latest: true
